* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg,#df4a81,#c430d7,#b03ad8);
    overflow-x: hidden;
}

.top-header {
    background: rgba(255,255,255,0.05);
    color: #fff;
    text-align: center;
    padding-bottom: 15px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}


.nav-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo-text {
    font-size: 1.3rem;
    font-weight: 700;
}

nav {
    margin-left: auto;
    display: flex;
    gap: 12px;
}

nav a {
    text-decoration: none;
    padding: 6px 14px;
    border-radius: 30px;
    background: linear-gradient(135deg,#ff4a91,#6b32ff);
    color: #fff;
    font-size: 0.85rem;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    transform: scale(1.08);
}

nav a.active {
    background: linear-gradient(135deg,#ffd700,#ff6347);
    color: #000;
}

/* HEADER TEXT */
.top-header h1 {
    font-size: 1.8rem;
    margin-top: 5px;
}

.top-header p {
    font-size: 1rem;
    opacity: 0.9;
}

/* ===== MAIN ===== */
.contact-main {
    padding: 45px 20px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

/* INFO CARDS */
.contact-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.info-card {
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    padding: 25px;
    width: 240px;
    text-align: center;
    border: 2px solid #df4a81;
    transition: 0.3s;
}

.info-card:hover {
    transform: translateY(-8px) scale(1.05);
    border-color: #c430d7;
}

.info-card h2 {
    color: #fff;
    margin-bottom: 8px;
}

.info-card p {
    color: #fce7ff;
    font-size: 0.9rem;
}

/* CONTACT FORM */
.contact-form form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    padding: 14px;
    border-radius: 15px;
    border: 2px solid #df4a81;
    background: rgba(255,255,255,0.05);
    color: white;
    font-size: 1rem;
    outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #fce7ff;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #c430d7;
}

.contact-form button {
    padding: 14px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(135deg,#df4a81,#c430d7);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    transform: scale(1.05);
}

.footer {
    text-align: center;
    padding: 25px;
    background: rgba(255,255,255,0.05);
    color: white;
}


@media(max-width:768px){
    .top-header h1 { font-size: 1.5rem; }
    .info-card { width: 200px; }
}

@media(max-width:480px){
    nav a { font-size: 0.75rem; padding: 5px 10px; }
    .top-header h1 { font-size: 1.3rem; }
}
